<div
  class="item"
  [ngClass]="[priority, completed && 'complete'].join(' ')"
  (click)="toggleComplete()"
>
  <div class="item__left-side">
    <div class="circle--outer">
      <div
        class="circle--inner"
        [ngClass]="!completed &&'incomplete'"
      ></div>
    </div>
    <p
      [ngStyle]="{cursor: 'pointer'}"
      class="item__text"
      [ngClass]="completed &&'complete'"
    >
      {{ todo }}
    </p>
  </div>
  <button
    (click)="delete()"
    [ngStyle]="{cursor: 'pointer'}"
  >
    X
  </button>
</div>
